/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

 @import "compass/reset";
 @import "bootstrap";

 $back-grey: #DDD0C0;

 $main-maroon: #700000;
 $main-dark-blue: #4291C8;	
 $main-green: #85B669;
 $main-light-blue: #B9CAE1;	

 $wrapper-width: 800px;
 $section-height: 100px;

 .default { 
 	background-color: $back-grey;
 	max-width: $wrapper-width;
 	margin-left: auto;
 	margin-right: auto;
 }
// @media

.outline-div{
	   outline: red dotted;
}
html, body{
	background-color: $back-grey;			
}

.title-section{	
	background-color: #fff;	
	height: $section-height;
}

.nav-section{
	background-color: $main-green;
	border-radius: 0px;
}

.footer-section{
	height: $section-height;
}

.container{
	@extend .default;
	margin-bottom: 30px;
}

.banner-section{
	background-color:#fff;	
	height: 400px;	
	border-radius:0px;
}
.floating-section{
	@extend .outline-div;					
	margin: 0 10%;
	margin-top:-50px;
	border-radius:0px;
}

.hours-section{
	@extend .outline-div;				
	height: 80px;
}

.news-poem{
	@extend .outline-div;					
}

.expansion-section{
	@extend .outline-div;				
	height: 200px;
}
.footer-section{
	@extend .outline-div;				
	height: 200px;	
}
.news-section, .poem-section, .left-footer, .right-footer{
	outline: blue dotted;
	height: 100%;	
}

.inactive-button{
	background-color:$main-maroon;
}

.green-button{
	background-color:$main-green; 
}
